@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bths-blue: #1D4ED8;
  --bths-blue-deep: #0B3AAE;
  --bths-black: #0B0B0F;
  --bths-silver: #C7CDD6;
  --bths-silver-deep: #9AA6B2;
  --bths-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
